.my {
  // TODO: このレイアウトのためのスタイルは Layout に持っていきたい
  &Content {
    padding-top: 60px;
    margin: 0px 20px;
  }
  &Spinner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
