.my {
  &Header {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: white;
    padding: 12px;
    box-shadow: 0px 2px 4px gray;

    &Title {
      font-weight: bold;
    }

    &Search {
      cursor: pointer;
    }
  }
  &Form {
    position: absolute;
    right: 6px;
    top: 40px;
  }
}
